/*all*/
*{
    padding: 0px;
    margin: 0px;
color:#ffff ;
font-family: 'Poppins', sans-serif;
list-style: none;
}

/*body*/
body{
    background-color: #252323;

}

/* --------------logo--------- */
/*logo pic*/

/*logo + name of logo*/
.logo li{
    border: 1px solid red;
}
.logo{
    font-size: 30px;
    display: flex;
    align-items: center;
justify-content: space-between;
}

/* each li element  f list sghira */
.nav li{
border: 1px solid blue ;
padding: 0px 11px;
}
/*link decoration*/
a{
     text-decoration: none;   
}

/* la liste sghira */
.nav{
    display: flex;
}
/* la liste kaml */
.navbar{
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    
}
