/*all*/
*{
    padding: 0px;
    margin: 0px;
color:#ffff ;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
list-style: none;
}

/*body*/
body{
    background-color: #252323;
}

/* --------------logo--------- */
/*logo pic*/

/*logo + name of logo*/
.logoweather{
    width: 50px;
    height: 38px;
flex-shrink: 0;
}

.logo{
    display: flex;
    gap: 8px;
    align-items: stretch;
    border: red 1px solid;
justify-content: space-between;
}
.logoname{
    font-size:24px;
    font-weight: 400;
}



/*link decoration*/
a{
     text-decoration: none;   
}

/* la liste sghira */
.nav{
    display: flex;
    gap: 15px;
    font-weight: 600;
    font-size: 15px;
}

/* la liste kaml */
.navbar{
    text-align: center;
    display: flex;
    gap: 329px;
    justify-content: space-around;
 
align-items: center;
position: relative;
top: 20px;
}

/*search section */
.boxsearch{
    display: grid;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%,-25%);
   
     width: 513px;
    height: 51px;
     border-radius: 40px;
     background: #D9D9D9;
grid-template-columns: 85% 15%;

}

.searchtext{
   padding: 0 20px;
    background: transparent;
    border: 0;
    outline: none;
  color: #252323;
  font-size: 22px;
  font-weight: 300;
 
}

/*button*/
div button {
    border: 0;
    background:transparent;
}
/*img li dkhl l button*/
.imgsearch{
    outline: 0;
 border: 0;
 background: transparent;
width: 25px;
height: 25px;
}
/*---------------------info section------------------*/
.boxinfo{
    border: 1px solid red;
    height: 480px;
    position: relative;
    top: 60px;
    display: flex;
    align-content: flex-start

}
.infos{
    position: relative;
margin-bottom: 50px;
    left: 50%;
transform: translate(-50%,8%);
    width: 670px;
    height: 400px;
    border-radius: 32px;
background: linear-gradient(113deg, #AD36CB 32.23%, #333 67.37%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(255, 250, 250, 0.25), 0px 4px 4px 0px rgba(253, 245, 245, 0.25);
}


